.cell {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: rgb(174, 137, 204);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s;
}

.cell:hover {
  background-color: rgb(185, 164, 202);
}

.title {
  color: white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}