.header {
  width: 40%;
  height: 100px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 185, 1);
  color: rgb(247, 239, 239);
}

.title {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
}