.header {
  width: 60px;
  height: 620px;
  margin: 60px 100px auto auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 185, 1);
  color: rgb(247, 239, 239);
}

.title {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}